.App {
  display: flex;
  flex-direction: column;

  height: 100vh;

  overflow: auto;
}

.App__editor {
  flex: 0 0 80%;

  transition: flex-basis cubic-bezier(0.77, 0, 0.175, 1) 600ms;
}


.App__editor textarea {
  width: 100%;
  height: 100%;

  resize: none;
}

.App__preview {
  flex: 0 0 20%;

  overflow: hidden;

  transition: flex-basis cubic-bezier(0.77, 0, 0.175, 1) 600ms;
}

.App--detailed .App__editor {
  flex-basis:  20%;

  overflow: hidden;
}

.App--detailed .App__editor textarea {
  overflow: hidden;
}

.App--detailed .App__preview {
  flex-basis: 80%;

  overflow: auto;
}