.App {
  display: flex;
  flex-direction: column;

  height: 100vh;
  padding: 0.5em;

  overflow: auto;
}

.App__editor {
  flex: 80%;
  margin-bottom: 0.5em;

  border-radius: 1em;
  background-color: var(--bg-medium);
  transition: flex-basis ease-out 100ms;
}

.App__editor textarea {
  width: 100%;
  height: 100%;
  padding: 1em;

  color: var(--text-light);
  font-size: 1.2em;

  border: none;
  background-color: transparent;
  resize: none;
}

.App__preview {
  flex: 20%;
  overflow: hidden;
  padding: 1em;

  color: var(--text-light);

  border-radius: 1em;
  background-color: var(--bg-medium);

  transition: flex-basis ease-out 100ms;
}

.App--detailed .App__editor {
  flex:  20%;

  overflow: hidden;
}

.App--detailed .App__editor textarea {
  overflow: hidden;
}

.App--detailed .App__preview {
  flex: 80%;

  overflow: auto;
}