@import-normalize;

:root {
  --bg-light: hsl(0, 0%, 95%);
  --bg-medium: hsl(0, 0%, 90%);
  --text-light: hsl(0, 0%, 30%);
  --text-medium: hsl(0, 0%, 15%);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-size: 0.75rem;
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 1.5;

  background-color: var(--bg-medium);
}

*,
::before,
::after {
  box-sizing: inherit;
}

@media(min-width: 650px) {
  body {
    font-size: 1rem;
  }
}